body, html {
  padding:0;
  margin:0;
  /* // width:100vh; */
  /* // height:100vw; */
  font-family: 'Ubuntu', 'Fira Sans', 'Lucida Sans', Helvetica, Verdana, sans-serif;
}

h2 {
  margin:0px;
  padding:0px;
  margin-top:35px;
  color:#FFF;
  font-size:2.5em;
  margin-bottom: 80px;
  font-family: Garamond, 'Times New Roman', Times, serif;
}

#main li {
  margin-bottom:32px;
}

a {
  color: hsl(180, 100%, 50%)
}
a:visited {
  color: #999;
}
a:hover {
  color: white;
}

/* Journal stuff */

.journal-entry li {
  list-style-position: inside;
}

.image-small {
  /* display: inline; */
  float:left;
  margin-bottom: 32px;
  margin-right: 32px;
}
.image-small img {
  width: 300px;
  float: left;
}



main {
  display:grid;
  grid-template-areas: 'top' 'strip' 'bottom' 'footer';
  grid-template-rows: auto 12px auto 108px;
  height:100vh;
}

aside {
  background-color: #000;
  grid-area: top;
}

#rainbow-strip {
  grid-area: strip;
  position:sticky;
}

article#main {
  background-color: #1a1a1a;
  background-color: hsl(0, 0%, 10%);
  color: white;
  grid-area: bottom;
  padding: 6vh 5vw;
  z-index: 66;
}

@media (min-width: 1000px) {
  
  main {
    grid-template-areas: 'left strip right' 'footer footer footer';
    grid-template-rows: auto 108px;
    grid-template-columns: 30% 0.25% 69.75%;
  }
  
  aside {
    grid-area: left;
  }
  
  article#main {
    grid-area: right;
    padding-left: 32px;
    padding-right: 20vw;
  }
}