body, html {
  padding:0;
  margin:0;
  /* // width:100vh; */
  /* // height:100vw; */
  font-family: 'Ubuntu', 'Fira Sans', 'Lucida Sans', Helvetica, Verdana, sans-serif;
  background-color: black;
}

h2 {
  margin:0px;
  padding:0px;
  margin-top:15px;
  color:#FFF;
  font-size:2.5em;
  margin-bottom: 60px;
  font-family: Garamond, 'Times New Roman', Times, serif;
}

h3 {
  padding:0px;
  margin-top:50px;
  color:#FFF;
  font-size:1.5em;
  font-family: Garamond, 'Times New Roman', Times, serif;
}

#main li {
  margin-bottom:32px;
}

a {
  color: hsl(180, 100%, 75%)
}
a:visited {
  color: #999;
}
a:hover {
  color: white;
}

/* Journal stuff */

.journal-entry li {
  list-style-position: inside;
}

.image-small {
  /* display: inline; */
  float:left;
  margin-bottom: 32px;
  margin-right: 32px;
}
.image-small img {
  width: 300px;
  float: left;
}

img.centered {
  margin: 0 auto 30px;
  display:block;
  max-width: 100%;
}



main {
  display:grid;
  grid-template-areas: 'top' 'strip' 'bottom' 'footer';
  grid-template-rows: auto 12px auto 108px;
  height:100vh;
}

aside {
  background-color: #000;
  grid-area: top;
}

#rainbow-strip {
  grid-area: strip;
  position:sticky;
}

article#main {
  background-color: #1a1a1a;
  background-color: hsl(0, 0%, 10%);
  color: white;
  grid-area: bottom;
  min-width: 0;
  padding: 6vh 5vw;
  z-index: 66;
}

code {
  font-size: 1em;
  color: cyan;
  font-family: 'Fira Sans', 'Lucida Console', 'Courier New', monospace;
}

code::before {
  color: hsl(0,0%,50%);
  content: "`";
}
code::after {
  color: hsl(0,0%,50%);
  content: "`";
}

.console {
  background: hsl(180,100%,3%); 
  /* margin: 0px 5%; */
  padding:6px;
}

.console code::before {
  content: "> ";
  display: inline;
}

.console code::after {
  content: none;
  display: inline;
}

hr {
  border-style: double;
  border-width: medium;
  color:cyan;
  margin-top:32px;
  margin-bottom:32px;
  width: 25%;
}

@media (min-width: 1000px) {
  
  main {
    grid-template-areas: 'left strip right' 'footer footer footer';
    grid-template-rows: auto 108px;
    grid-template-columns: 30% 0.25% 69.75%;
  }
  
  aside {
    grid-area: left;
  }
  
  article#main {
    grid-area: right;
    padding-left: 32px;
    padding-right: 20vw;
  }
}