body, html {
  padding:0;
  margin:0;
  /* // width:100vh; */
  /* // height:100vw; */
  font-family: 'Ubuntu', 'Fira Sans', 'Lucida Sans', Helvetica, Verdana, sans-serif;
}

main {
  display:grid;
  grid-template-areas: 'left right';
  grid-template-columns: 30% 70%;
  height:100vh;
  /* width:100vw; */
}
aside {
  background-color: #000;
  grid-area: left;
  /* // height:100vh; */
  /* width:15vw; */
  /* padding-left:20vw; */
  /* // overflow: scroll; */
}
article#main {
  color:white;
  background-color: #1a1a1a;
  background-color: hsl(0, 0%, 10%);
  grid-area: right;
  /* // min-height:100vh; */
  padding-left:5vw;
  padding-right:20vw;
  /* min-width:40vw; */
}
h2 {
  margin:0px;
  padding:0px;
  margin-top:35px;
  color:#FFF;
  font-size:2.5em;
  margin-bottom: 80px;
  font-family: Garamond, 'Times New Roman', Times, serif;
}




a {
  color: hsl(180, 100%, 50%)
}
a:visited {
  color: #999;
}